h1 {
  font-size: 2em;
  color: white;
  padding-top: 25vh;
}

h4 {
  color: white;
}

section {
  height: 100vh;
  color: #fff;
  background-color: #242424;
  position: relative;
}

.socials {
  margin-bottom: 20px;
  a {
    margin-right: 20px;
    img {
      height: 50px;
      width: 50px;
    }
  }
}

.info {
  h2 {
    margin-bottom: 20px;
    a {
      color: #fff;
    }
  }
  button {
    margin-top: 20px;
  }
}

.copyright {
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 20px;
}

.form-background {
  position: fixed;
  top: 20px;
  width: 100%;
  right: -100%;
  bottom: 0;
  z-index: 0;
  background-color: #242424;
  transition: right .5s;
  &.active {
    right: 0;
    z-index: 10;
    .form-container {
      right: 0;
    }
  }
}

input:-webkit-autofill {
  background-color: transparent !important;
}

label {
  min-height: 60px;
  display: flex;
  position: relative;
  margin-bottom: 20px;
  span {
    margin: 30px 20px;
    display: inline-block;
    transition: .2s margin;
    position: absolute;
  }
  input[type=text], input[type=email], textarea, .input-label {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #d3d3d3;
    padding: 0 20px 10px 20px;
    margin-top: 30px;
    line-height: 18px;
    font-size: 16px;
    outline: none;
    flex: 1;
    transition: border-bottom .2s;
    color: white;
    border-radius: 0;
    &:hover, &:focus {
      border-bottom: 2px solid #fff;
    }
  }
  input[type=text].ng-dirty + span,
  input[type=text]:focus + span,
  textarea.ng-dirty + span,
  textarea:focus + span,
  input[type=email].ng-dirty + span,
  .input-label + span,
  input[type=email]:focus + span {
    margin: 0;
  }
  select {
    height: 0;
    width: 0;
    border: none;
    opacity: 0;
  }
}

form {
  width: calc(100% - 40px);
  margin: auto 20px auto 20px;
  color: white;
  input[type=submit] {
    display: flex;
    margin: 40px auto auto;
  }
}

.close-button {
  outline: none;
  user-select: none;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.7;
  transition: transform .3s opacity .3s;
  &:hover {
    opacity: 1;
  }
}
