<header>
  <div class="nav-bar content">
    <div class="nav-bar-item">
      <a href="">Проекты</a>
    </div>
    <div class="nav-bar-item">
      <a href="">Обо мне</a>
    </div>
  </div>
</header>
<section style="background-color: #242424; color: #fff;" #main>
  <div class="content">
    <h1>Максим Захаров</h1>
    <h2>Web-разрабочик, инвестор, предприниматель, музыкант.</h2>
    <button class="btn">Оставить заявку</button>
    <img class="selfy" src="../assets/selfy.jpg"/>
  </div>
</section>
<section style="background-color: #fff; color: #242424;" #info>
  <div class="content">
    <h1>Максим Захаров</h1>
    <h2>Web-разрабочик, инвестор, предприниматель, музыкант.</h2>
    <button class="btn">Оставить заявку</button>
    <img class="selfy" src="../assets/selfy.jpg"/>
  </div>
</section>
<section style="background-color: #242424; color: #fff;" #why>
  <div class="content">
    <h1>Максим Захаров</h1>
    <h2>Web-разрабочик, инвестор, предприниматель, музыкант.</h2>
    <button class="btn">Оставить заявку</button>
    <img class="selfy" src="../assets/selfy.jpg"/>
  </div>
</section>
<section style="background-color: #fff; color: #242424;" #calculator>
  <div class="content">
    <h1 style="
    text-align: center;
    padding-top: 20vh;
    margin-bottom: 20px;">Оставить заявку</h1>
    <form [formGroup]="form">
      <label>
        <input type="text" id="name" placeholder=""/>
        <span>Имя</span>
      </label>
      <label>
        <input type="email"/>
        <span>Email</span>
      </label>
      <label>
        <input type="text"/>
        <span>Компания / Организация</span>
      </label>
      <label class="slider-label">
        <span>Бюджет</span>
        <input class="slider" type="range" formControlName="budget" [min]="0" [max]="budgets.length - 1"/>
        <div class="slider-info">{{budget}}</div>
      </label>
      <label class="slider-label">
        <span>Сроки</span>
        <input class="slider" type="range" formControlName="deadline" [min]="0" [max]="deadlines.length - 1"/>
        <div class="slider-info">{{deadline}}</div>
      </label>
      <label>
        <input type="text"/>
        <span>Описание проекта</span>
      </label>
      <input class="btn" type="submit" value="Оставить заявку"/>
    </form>
  </div>
</section>

