<a routerLink="">
  <h4 style="position: fixed;
    left: 30px;
    top: 30px;
    z-index: 5;
    color: white;
    font-size: 24px;">Максим Захаров</h4>
  <h4 style="position: fixed;
    z-index: 5;
    color: white;
    left: 30px;
    top: 60px;
    font-size: 12px;">Web-разработчик</h4>
</a>

<div class="main-container">
  <div style="    position: fixed;
    left: 30px;
    top: 30px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    z-index: 5;
}" (click)="goToSection(0)"></div>
  <div class="menu">
    <div [class.active]="currentSection === 0" (click)="goToSection(0)">Главная</div>
    <div [class.active]="currentSection === 1" (click)="goToSection(1)">Кто я?</div>
    <div [class.active]="currentSection === 2" (click)="goToSection(2)">Почему я?</div>
    <div [class.active]="currentSection === 3" (click)="goToSection(3)">Проекты</div>
    <div [class.active]="currentSection === 4" (click)="goToSection(4)">Отзывы</div>
    <div [class.active]="currentSection === 5" (click)="goToSection(5)">Контакты</div>
  </div>
  <section [class.active]="currentSection === 0" #main>
    <div class="content main-section">
      <h1>Разрабатотка сайтов</h1>
      <h4>и информационных систем для бизнеса</h4>
      <button (click)="showForm()" style="margin-top: 30px" class="btn">Оставить заявку</button>
      <img class="selfy" src="../assets/selfy.jpg"/>
    </div>
    <div class="scroll-downs">
      <div class="mousey" (click)="next()">
        <div class="scroller"></div>
      </div>
    </div>
  </section>
  <section [class.active]="currentSection === 1" #info>
    <div class="content">
      <!--
       Кто я такой?
       3+ года в interprice разработке
       Технологии:
       Сервер: ASP.NET Core
       База данных: MS SQL
       Веб-клиент: Angular 2+, HTML, SCSS
       Хостинг: Amazon Web Services
       -->
      <div class="center-container">
        <h2>Кто я такой?</h2>
        <h2>Более {{currentExp}} лет в enterprise разработке</h2>
        <h2>Технологии:</h2>
        <h2>Сервер: ASP.NET Core</h2>
        <h2>База данных: MS SQL</h2>
        <h2>Веб-клиент: Angular 2+, HTML, SCSS</h2>
        <h2>Хостинг: Amazon Web Services</h2>
        <h2><a href="https://github.com/Murz1k" target="_blank">Ссылка на Github</a></h2>
      </div>
    </div>
  </section>
  <section [class.active]="currentSection === 2" #why>
    <div class="content">
    </div>
  </section>
  <section [class.active]="currentSection === 3" #project>
    <div class="content">
      <h1><a [routerLink]="['/', 'projects']">Проекты</a></h1>
    </div>
  </section>
  <section [class.active]="currentSection === 4" #feedback>
    <div class="content">
    </div>
  </section>
  <section [class.active]="currentSection === 5" #contacts>
    <div class="content">
      <h4 style="
    padding-top: calc((100vh - 400px) / 2);
    margin-bottom: 20px;">Контактная информация</h4>
      <h2 style="margin-bottom: 40px; width: 600px;">Свяжитесь со мной через удобный канал связи или оставьте заявку,
        заполнив
        форму</h2>
      <div class="info">
        <div class="left">
          <div class="socials">
            <a href="tg://resolve?domain=max89701"><img src="../assets/telegram-icon.svg"/></a>
            <a href="https://www.linkedin.com/in/maksim-zakharov-977179104/"><img
              src="../assets/linkedin-icon.svg"/></a>
            <a href="https://api.whatsapp.com/send?phone=79254306274"><img src="../assets/whatsapp-icon.svg"/></a>
          </div>
          <h2><a href="tel:+79254306274">+7 (925) 430 62 74</a></h2>
          <h2><a href="mailto:max89701@gmail.com">max89701@gmail.com</a></h2>
        </div>
        <div class="right">
          <button (click)="showForm()" class="btn">Оставить заявку</button>
        </div>
      </div>
    </div>
    <div class="copyright">
      © 2016 - {{currentYear}} Максим Захаров. Все права защищены.
    </div>
  </section>
</div>

<div class="form-background" [class.active]="isShowForm">
  <div style="position: absolute;
    left: 0;
    right: 482px;
    bottom: 0;
    top: 0;
    cursor: pointer;" (click)="closeForm()"></div>
  <div class="form-container">
    <button class="open-button" (click)="showForm()">Оставить заявку</button>
    <button class="close-button" (click)="closeForm()">Закрыть</button>
    <h2 style="
    text-align: center;
    margin-bottom: 20px;">Оставить заявку</h2>
    <form [formGroup]="form">
      <label>
        <input formControlName="name" type="text" id="name" placeholder=""/>
        <span>Имя</span>
      </label>
      <label>
        <input formControlName="email" type="email"/>
        <span>Email</span>
      </label>
      <label>
        <input formControlName="company" type="text"/>
        <span>Компания / Организация</span>
      </label>
      <label class="slider-label">
        <span>Бюджет</span>
        <input class="slider" type="range" formControlName="budget" [min]="0" [max]="budgets.length - 1"/>
        <div class="slider-info">{{budget}}</div>
      </label>
      <label class="slider-label">
        <span>Сроки</span>
        <input class="slider" type="range" formControlName="deadline" [min]="0" [max]="deadlines.length - 1"/>
        <div class="slider-info">{{deadline}}</div>
      </label>
      <label>
        <textarea formControlName="description" rows="4"></textarea>
        <span>Описание проекта</span>
      </label>
      <input class="btn" type="submit" value="Отправить"/>
    </form>
  </div>
</div>
