<a routerLink="">
  <h4 style="position: fixed;
    left: 30px;
    top: 30px;
    z-index: 5;
    color: white;
    font-size: 24px;">Максим Захаров</h4>
  <h4 style="position: fixed;
    z-index: 5;
    color: white;
    left: 30px;
    top: 60px;
    font-size: 12px;">Web-разработчик</h4>
</a>

<div class="main-container">
  <div style="    position: fixed;
    left: 30px;
    top: 30px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    z-index: 5;
}" (click)="goToSection(0)"></div>
  <div class="menu">
    <div [class.active]="currentSection === 0" (click)="goToSection(0)">Главная</div>
    <div [class.active]="currentSection === 1" (click)="goToSection(1)">Кто я?</div>
    <div [class.active]="currentSection === 2" (click)="goToSection(2)">Опыт работы</div>
    <div [class.active]="currentSection === 3" (click)="goToSection(3)">Проекты</div>
    <div [class.active]="currentSection === 4" (click)="goToSection(4)">Почему я?</div>
    <div [class.active]="currentSection === 5" (click)="goToSection(5)">Отзывы</div>
    <div [class.active]="currentSection === 6" (click)="goToSection(6)">Контакты</div>
  </div>
  <section [class.active]="currentSection === 0" #main>
    <div class="content main-section">
      <h1>Разрабатотка сайтов</h1>
      <h4>и информационных систем для бизнеса</h4>
      <button (click)="showForm()" style="margin-top: 30px" class="btn">Оставить заявку</button>
      <img class="selfy" src="../assets/selfy.jpg"/>
    </div>
    <div class="scroll-downs">
      <div class="mousey" (click)="next()">
        <div class="scroller"></div>
      </div>
    </div>
  </section>
  <section [class.active]="currentSection === 1" #info>
    <div class="content">
      <!--
       Кто я такой?
       3+ года в interprice разработке
       Технологии:
       Сервер: ASP.NET Core
       База данных: MS SQL
       Веб-клиент: Angular 2+, HTML, SCSS
       Хостинг: Amazon Web Services
       -->
      <div class="center-container">
        <h2>Кто я такой?</h2>
        <h2>Более {{currentExp}} лет в enterprise разработке</h2>
        <h2>Технологии:</h2>
        <h2>Сервер: ASP.NET Core</h2>
        <h2>База данных: MS SQL</h2>
        <h2>Веб-клиент: Angular 2+, HTML, SCSS</h2>
        <h2>Хостинг: Amazon Web Services</h2>
        <h2><a href="https://github.com/Murz1k" target="_blank">Ссылка на Github</a></h2>
      </div>
    </div>
  </section>
  <section [class.active]="currentSection === 2">
    <div class="content">
      <h2 style="padding-top: calc(45vh - 154px); margin-bottom: 20px;">Опыт работы</h2>
      <div class="works">
        <div class="work-item">
          <img src="../../../assets/works/wildberries.jpg"/>
          <div class="work-info">
            <div class="work-title">
              Wildberries
            </div>
            <div class="work-site">
              Сайт: <a href="https://wildberries.ru">wildberries.ru</a>
            </div>
            <div class="work-category">
              Сферы деятельности: Розничная торговля, информационные технологии, системная интеграция, интернет
            </div>
            <div class="work-position">
              Должность: Frontend разработчик
            </div>
            <div class="work-dates">
              Даты: Июль 2018 - сегодня
            </div>
            <ul>
              <li>Разработка CRM системы для HR</li>
              <li>Разработка корпоративного портала</li>
              <li>Разработка корпоративной библиотеки компонентов</li>
            </ul>
          </div>
        </div>
        <div class="work-item">
          <img src="../../../assets/works/smartvalley.png"/>
          <div class="work-info">
            <div class="work-title">
              Smart Valley
            </div>
            <div class="work-site">
              Сайт: <a href="https://smartvalley.com">smartvalley.com</a>
            </div>
            <div class="work-category">
              Сферы деятельности: Marketplace, Fin-tech, информационные технологии, интернет
            </div>
            <div class="work-position">
              Должность: Fullstack блокчейн разработчик
            </div>
            <div class="work-dates">
              Даты: Ноябрь 2017 - Июнь 2018
            </div>
            <ul>
              <li>Разработка маркетплейса</li>
              <li>Создание смарт-контрактов</li>
            </ul>
          </div>
        </div>
        <div class="work-item">
          <img src="../../../assets/works/stack-group.jpg"/>
          <div class="work-info">
            <div class="work-title">
              Stack Group
            </div>
            <div class="work-site">
              Сайт: <a href="https://m1cloud.ru">m1cloud.ru</a>
            </div>
            <div class="work-category">
              Сферы деятельности: Облачные сервисы, информационные технологии, интернет
            </div>
            <div class="work-position">
              Должность: Младший разработчик информационных систем
            </div>
            <div class="work-dates">
              Даты: Февраль 2017 - Ноябрь 2017
            </div>
            <ul>
              <li>Разработка корпоративной CRM системы</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section [class.active]="currentSection === 3" #project>
    <div class="content">
      <h1><a [routerLink]="['/', 'projects']">Проекты</a></h1>
    </div>
  </section>
  <section [class.active]="currentSection === 4" #why>
    <div class="content">
    </div>
  </section>
  <section [class.active]="currentSection === 5" #feedback>
    <div class="content">
      <h2 style="padding-top: calc(45vh - 154px); margin-bottom: 20px;">Обо мне говорят</h2>
      <div class="smooth smooth-left"></div>
      <div class="feedback">
        <div class="feedback-member">
          <img src="../../../assets/feedback-members/anton_agaltsov.jpg"/>
          <div class="feedback-info">
            <div class="author">
              Антон Агальцов
            </div>
            <div class="position">
              Team lead в компании <a href="https://wildberries.ru/" target="_blank">Wildberries</a>
            </div>
            <p>
              (ПРИМЕР) Работник Такойто является самым отявленным негодяеи из всех негодяйских негодяев. Курит на
              рабочем
              месте, а
              также пьёт и сквернословит трёхэтажным матом и в присутствии женщин и детей. Лупит чем попало подчинённых
              и
              дерётся с начальством. Прошу любить и жаловать. .
            </p>
          </div>
        </div>
        <div class="feedback-member">
          <img src="../../../assets/feedback-members/ilya_vislotsky.jpg"/>
          <div class="feedback-info">
            <div class="author">
              Илья Вислотский
            </div>
            <div class="position">
              Глава отдела разработки в компании <a href="https://m1cloud.ru/" target="_blank">Stack Group</a>
            </div>
            <p>
              (ПРИМЕР) Работник Такойто является самым отявленным негодяеи из всех негодяйских негодяев. Курит на
              рабочем
              месте, а
              также пьёт и сквернословит трёхэтажным матом и в присутствии женщин и детей. Лупит чем попало подчинённых
              и
              дерётся с начальством. Прошу любить и жаловать. .
            </p>
          </div>
        </div>
      </div>
      <div class="smooth smooth-right"></div>
    </div>
  </section>
  <section [class.active]="currentSection === 6" #contacts>
    <div class="content">
      <h4 style="
    padding-top: calc((100vh - 400px) / 2);
    margin-bottom: 20px;">Контактная информация</h4>
      <h2 style="margin-bottom: 40px; width: 600px;">Свяжитесь со мной через удобный канал связи или оставьте заявку,
        заполнив
        форму</h2>
      <div class="info">
        <div class="left">
          <div class="socials">
            <a href="tg://resolve?domain=max89701"><img src="../assets/telegram-icon.svg"/></a>
            <a href="https://www.linkedin.com/in/maksim-zakharov-977179104/"><img
              src="../assets/linkedin-icon.svg"/></a>
            <a href="https://api.whatsapp.com/send?phone=79254306274"><img src="../assets/whatsapp-icon.svg"/></a>
          </div>
          <h2><a href="tel:+79254306274">+7 (925) 430 62 74</a></h2>
          <h2><a href="mailto:max89701@gmail.com">max89701@gmail.com</a></h2>
        </div>
        <div class="right">
          <button (click)="showForm()" class="btn">Оставить заявку</button>
        </div>
      </div>
    </div>
    <div class="copyright">
      © 2016 - {{currentYear}} Максим Захаров. Все права защищены.
    </div>
  </section>
</div>

<div class="form-background" [class.active]="isShowForm">
  <div style="position: absolute;
    left: 0;
    right: 482px;
    bottom: 0;
    top: 0;
    cursor: pointer;" (click)="closeForm()"></div>
  <div class="form-container">
    <button class="open-button" (click)="showForm()">Оставить заявку</button>
    <button class="close-button" (click)="closeForm()">Закрыть</button>
    <h2 style="
    text-align: center;
    margin-bottom: 20px;">Оставить заявку</h2>
    <form [formGroup]="form">
      <label>
        <input formControlName="name" type="text" id="name" placeholder=""/>
        <span>Имя</span>
      </label>
      <label>
        <input formControlName="email" type="email"/>
        <span>Email</span>
      </label>
      <label>
        <input formControlName="company" type="text"/>
        <span>Компания / Организация</span>
      </label>
      <label class="slider-label">
        <span>Бюджет</span>
        <input class="slider" type="range" formControlName="budget" [min]="0" [max]="budgets.length - 1"/>
        <div class="slider-info">{{budget}}</div>
      </label>
      <label class="slider-label">
        <span>Сроки</span>
        <input class="slider" type="range" formControlName="deadline" [min]="0" [max]="deadlines.length - 1"/>
        <div class="slider-info">{{deadline}}</div>
      </label>
      <label>
        <textarea formControlName="description" rows="4"></textarea>
        <span>Описание проекта</span>
      </label>
      <input class="btn" type="submit" value="Отправить"/>
    </form>
  </div>
</div>
