* {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

body {
  background-color: #242424;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

.content {
  width: 900px;
  margin: auto;
  padding: 0;
}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
  .content {
    width: auto;
    margin: 20px;
  }
}

///* Turn on custom 8px wide scrollbar */
//::-webkit-scrollbar {
//  width: 8px; /* 1px wider than Lion. */
//  /* This is more usable for users trying to click it. */
//  background-color: rgba(0, 0, 0, 0);
//  -webkit-border-radius: 100px;
//}
//
///* hover effect for both scrollbar area, and scrollbar 'thumb' */
//::-webkit-scrollbar:hover {
//  background-color: rgba(0, 0, 0, 0.09);
//}
//
///* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
//::-webkit-scrollbar-thumb:vertical {
//  /* This is the EXACT color of Mac OS scrollbars.
//     Yes, I pulled out digital color meter */
//  background: rgba(0, 0, 0, 0.5);
//  -webkit-border-radius: 100px;
//}
//
//::-webkit-scrollbar-thumb:vertical:active {
//  background: rgba(0, 0, 0, 0.61); /* Some darker color when you click it */
//  -webkit-border-radius: 100px;
//}

.btn {
  color: #fff;
  background-color: #103158;
  border: none;
  font-family: Arial;
  font-size: 16px;
  padding: 15px 35px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 2px;
  transition: .2s background-color;
  &:hover {
    background-color: #2466b5;
  }
}

a {
  color: #2466b5;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

* {
  //color: rgb(213, 213, 213);
  //color: #fff;
}

h1 {
  text-transform: uppercase;
  text-align: left;
  //font-size: 48px;
  padding-top: 35vh;
  margin-bottom: 10px;
  font-size: 80px;
  font-weight: 100;
}

h2 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
}
